<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="ITDN::top_level" title="Sławomir Kaliszczak" module="ITDN_SpecialOffer" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="ITDN_SpecialOffer::itdn_specialoffer_specialoffer" title="Special Offers" module="ITDN_SpecialOffer" sortOrder="9999" resource="Magento_Backend::content" parent="ITDN::top_level" action="itdn_specialoffer/specialoffer/index"/>
		<add id="ITDN_SpecialOffer::itdn_specialoffer_specialoffergroup" title="Special Offer Groups" module="ITDN_SpecialOffer" sortOrder="9999" resource="Magento_Backend::content" parent="ITDN::top_level" action="itdn_specialoffer/specialoffergroup/index"/>
	</menu>
</config>
