<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="itdn_specialoffer" id="itdn_specialoffer">
			<module before="Magento_Backend" name="ITDN_SpecialOffer"/>
		</route>
	</router>
</config>
